<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.badrit.Calendar"
  version="0.1.0">
  <name>Calendar</name>
  <description>Cordova Calendar Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,Calendar</keywords>
  <dependency id="org.apache.cordova.device" url="https://github.com/apache/cordova-plugin-device.git" />
  <js-module src="www/Calendar.js" name="Calendar">
    <clobbers target="window.Calendar" />
  </js-module>
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CalendarPlugin">
        <param name="android-package" value="com.badrit.Calendar.CalendarPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_CALENDAR" />
      <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    </config-file>

    <source-file src="src/android/CalendarPlugin.java" target-dir="src/com/badrit/Calendar/" />
    <source-file src="src/android/AbstractCalendarAccessor.java" target-dir="src/com/badrit/Calendar/" />
    <source-file src="src/android/LegacyCalendarAccessor.java" target-dir="src/com/badrit/Calendar/" />
    <source-file src="src/android/CalendarProviderAccessor.java" target-dir="src/com/badrit/Calendar/" />
  </platform>
  <!-- ios -->
  <platform name="ios">
   <config-file target="config.xml" parent="/*">
     <feature name="CalendarPlugin">
       <param name="ios-package" value="CalendarPlugin" />
     </feature>
   </config-file>

   <header-file src="src/ios/CalendarPlugin.h" />
   <source-file src="src/ios/CalendarPlugin.m" />
   <framework src="EventKit.framework" />
   <framework src="EventKitUI.framework" />
 </platform>
</plugin>
